body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #93A1B0;
    text-align: left;
    background-color: #2A2F33;
}

.container_fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}
.table th, .table td {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #E5E9EC;
    white-space: nowrap;
}

.table th {
    color: #2A2F33;
}

.form-group.required label:after {
    content: '*';
    color: red;
    position: relative;
    top: -3px;
    right: -2px;
    font-size: 10px;
}

.page-toolbar{
    width: 100% !important;
}

.nav-link.active{
    background-color: #343a40!important;
}
